h1{
    background: brown;
}

.first-paragraph{
    text-align: end;
    background: aqua;
    margin-top: 48px;
    margin-left: 50px;
}
.second-paragraph{
    font-family:  Century, serif;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
}
.third-paragraph{
    font-size: 24px;
    font-style: oblique;
    text-align: center;
    text-shadow: 5px 5px green;
}